<% if @user == @current_user %>
    <%= form_tag({:controller => "messages", :action => "new"}, :method => "get")  do%>
        <%= text_field_tag :content%>
        <%= hidden_field_tag :user_id, @current_user.id %>
        <%= submit_tag :submit, :value => "Submit"%>
    <% end %>
<% end %>

<% @user.messages.each do |message| %>
    <p><%= message.content %></p>
<% end %>
